.product {
  padding-bottom: 168px;
  padding-top: 120px;
}
.product-row {
  display: flex;
  justify-content: space-between;
}
.product-content {
  max-width: 584px;
}
.product-content-title {
  font-size: 25px;
  font-weight: 600;
  line-height: 39px;
  margin-bottom: 10px;
}
.product-content-subtitle {
  color: #01996d;
  font-family: 'Georgia', serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 79px;
  margin-bottom: 20px;
}
.product-content-text {
  margin-bottom: 40px;
  font-family: Lato;
  font-size: 20px;
  font-weight: 400;
  line-height: 31.4px;
  max-width: 530px;
}
.product-img {
  border-radius: 18px;
}
.product-img-wrapper {
  margin-right: 86px;
  padding-left: 60px;
  padding-bottom: 74px;
  position: relative;
}
.product-card {
  position: absolute;
  left: 0%;
  bottom: 0%;
}
@media (max-width: 1299px) {
  .product {
    padding-top: 80px;
  }
  .product-img-wrapper {
    flex: 1 0 auto;
    flex-basis: 50%;
  }
  .product-content-subtitle {
    font-size: 40px;
    line-height: 50px;
  }
  .product-card {
    top: 60%;
  }
}
@media (max-width: 991px) {
  .product {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .product-row {
    flex-direction: column-reverse;
  }
  .product-content {
    margin-bottom: 40px;
  }
  .product-card {
    position: relative;
    z-index: 2;
    margin-top: -10%;
    display: flex;
    justify-content: center;
  }
  .product-img-wrapper {
    padding: 0;
    margin: 0;
    text-align: center;
  }
  .product-content-subtitle {
    font-size: 30px;
  }
}
@media (max-width: 500px) {
  .product {
    padding-bottom: 40px;
  }
  .product-card {
    margin: -30% 15% 0;
  }
}
