.story {
  background-color: #245852;
  padding: 229px 0 176px;
  color: #fff;
}
.story-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.story-content {
  margin-right: 30px;
  max-width: 580px;
}
.story-heading {
  font-family: 'Georgia', serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 79px;
  margin-bottom: 33px;
}
.story-text {
  margin-bottom: 57px;
  font-size: 25px;
  font-weight: 600;
  line-height: 39px;
}
.story-video {
  max-width: 895px;
  position: relative;
}
.story-video-object {
  border-radius: 16px;
}
.story-video-overlay {
  border-radius: 16px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.story-video-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1199px) {
  .story {
    padding: 90px 0 90px;
  }
  .story-row {
    flex-direction: column-reverse;
  }
  .story-video {
    margin-bottom: 40px;
  }
  .story-heading {
    font-size: 40px;
    line-height: 50px;
  }
  .story-text {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 30px;
  }
  .btn,
  a.btn {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .story {
    padding: 60px 0 60px;
  }
  .story-heading {
    font-size: 30px;
    line-height: 50px;
  }
  .story-text {
    font-size: 20px;
  }
  .story-text {
    margin-bottom: 20px;
  }
}
